/* Pour tout le site  */

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "GothamBook";
  src: url(./assets/fonts/GothamBook.ttf);
}

main {
  background: url(./ressourcesSiteDWWM/SiteDWWM/Images/A3-1920.jpg) center/cover;
  min-height: 90vh;
}

header {
  background: linear-gradient(60deg, white, #440099);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid #440099;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
 
}
nav li {
  margin-right: 0;
  font-size: 1.3em;
  
}

nav li:last-child {
  margin-right: 900px;
}

nav a {
  display: inline-block;
  padding: 10px;
  background-color: #418fde;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  margin: 5px;
  
}
nav a:hover {
  background-color: #7a99ac;
}

h1 {
  font-size: 3rem;
  color: whitesmoke;
  text-shadow: 1px 1px 3px violet;
  padding: 15px;

}

h2 {
  font-size: 2.5rem;
  color: #418fde;
  text-shadow: 1px 1px 3px black;
}

.presentation h2 {
  padding: 80px;
}

h3 {
  font-size: 2.5rem;
  color: whitesmoke;
  text-shadow: 1px 1px 3px violet;
  padding: 15px;
    }

h4 {
  font-size: 1.5rem;
  color: #418fde;
  text-shadow: 1px 1px 3px black;
  padding: 15px
}

h5 {
  font-size: 2.5rem;
  color: #418fde;
}

/* Pour la page Formation */

.colonne {
  line-height: 18px;
  text-align: justify;
}

/* Pour la page témoignage  */

.coltemoin,
.colonneform, 
.colformat,
.colmention {
  float: left;
  width: 30%;
  border: 2px solid #000;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(138, 105, 155, 0.5);
  margin-right: 10px;
  margin-left: 10px;
}

.conteneurtemoin {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.coltemoin img {
  width: 90px;
  margin: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 10px;
}

.coltemoin p {
  text-align: justify;
  font-size: 20px;
  
}

.colformat p {
  text-align: justify;
  font-size: 20px;
  text-shadow: 1px 1px 3px rgb(57, 24, 80);

}
.colonneform {
  margin-left: 30px;
}

.cta {
  text-decoration: none;
  display: flex;
  background-color: #418fde;
  color: white;
  font-weight: bold;
  padding : 20px;
  border-radius: 10px;
  text-align: center;
  clear: left;
  margin-top: 40px;
  margin-left: 5%;
  max-width: 270px;
  font-size: 1.5em;
}
.cta:hover {
  background-color: #7a99ac;
}

/* page références */

.ligne img {
  width: 80px;
  height: 92px;
  margin-left: 30px;
  border-radius: 10px;
}

.ligne {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.colonneform {
  font-size: 17px;
  color: white;
}

footer {
  background: linear-gradient(45deg, white, #440099);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px #440099;
}

footer h3 {
  margin: 0 0 10px 20px;
  color: #008c95;
  font-weight: normal;
  font-size: 1.5rem;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #008c95;
}
